MONGODB_URI=

NEXT_PUBLIC_APP_URL=http://localhost:3000

SERVICEABLE_PINCODES=
DELIVERY_FEE=
FREE_DELIVERY_THRESHOLD=
MINIMUM_ORDER_AMOUNT=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

WHATSAPP_NUMBER=
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

IMAGE_STORAGE_URL=